@layer base {
  body {
    @apply font-sans text-slate-900 antialiased bg-slate-50;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}